# Байт-код, оптимизированные файлы
__pycache__/
/**/__pycache__/
*.pyc
*.py[cod]

# Файлы, созданные инструментами упаковки
dist/
build/
*.egg-info/

# Кэши, отчёты покрытия и прочие временные файлы
.cache/
.pytest_cache/
.coverage
*.py,cover
*.py,cover

# Папки и файлы, специфичные для среды разработки
.vscode/
.idea/
*.sublime-*

# Файлы, специфичные для ОС
.DS_Store
Thumbs.db

# Виртуальные окружения
venv/
.env

cache/
path/
config/
prev/reports/
cache_fundamental
output/
